@use '../core/mixins';

:root {
	:where(.wp-element-button) {
		background-color: var(--wp--preset--color--mg-gold);
		color: #fff;
		font-size: var(--wp--preset--font-size--large) !important;
		line-height: var(--wp--custom--large--typography--line-height);
		font-variation-settings: "wght" 600, "wdth" 100, "slnt" 0;
		transition: background .2s;
		border-radius: 9999px;
		box-shadow: none;
	}
}

* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	box-sizing: border-box;
	scroll-padding-top: 124px;
	@media (width < 992px) {
		scroll-padding-top: 124px;
	}

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
	
	a:-webkit-any-link {
		color: inherit;
		// color: #324431;
	}
}

body {
	font-variation-settings: 'wght' 350, 'wdth' 100, 'slnt' 0;
}

// :where(.wp-block-group.has-background) {
// 	padding: 1.25em var(--wp--custom--spacing--outer);
// 	// @media (min-width: 650px) {
// 	// 	padding: 1.25em 2.375em;
// 	// }
// }

img {
	// &[loading="lazy"] {
	// 	opacity: 0;
	// 	transition: opacity 0.2s;
	// }
	// &.has-loaded {
	// 	opacity: 1;
	// }
}

input[type="text"],
input[type="email"],
input[type="number"], 
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"] {
	@include mixins.text-input;
}
input[type="submit"],
button {
	@include mixins.button;
}

.tool-tip {
	position: absolute;
  top: 20px;
  left: 50%;
  width: 80%;
  background: #fff;
  color: #000;
  padding: 12px;
  pointer-events: none;
  line-height: 1.2;
  text-align: center;
  font-size: 0.875rem;
  border-radius: 4px;
  transform: translate(-50%, 0);
  box-shadow: 0 0 10px #000;
}

.slick-slider {
	.slick-arrow {
		width: 22px;
		height: 39px;
		&::before {
			content: "";
			width: 22px;
			height: 39px;
			background: var(--wp--preset--color--mg-gold);
			opacity: 1;
			display: block;
			clip-path: path("M19.5,39c-.511719,0-1.023438-.195312-1.414062-.585938L.585938,20.914062c-.78125-.78125-.78125-2.047363,0-2.828125L18.085938.585938c.78125-.78125,2.046875-.78125,2.828125,0,.78125.780762.78125,2.047363,0,2.828125L4.828613,19.5l16.085449,16.085938c.78125.78125.78125,2.046875,0,2.828125-.390625.390625-.902344.585938-1.414062.585938Z");
		}
		&.slick-prev {
			left: -12px;
		}
		&.slick-next {
			right: -12px;
			&::before {
				transform: rotate(180deg);
				transform-origin: 50% 50%;
			}
		}
	}	
}