body.page-template-training-headless {
	--wp--custom--heading-1--typography--font-size: clamp(2.15rem, -0.0063rem + 6.9vw, 3.875rem); // 34.4 => 62
	--wp--custom--heading-1--typography--line-height: 1.2em;
	--wp--custom--heading-2--typography--font-size: clamp(1.75rem, 0.6563rem + 3.5vw, 2.625rem); // 28 => 42
	--wp--custom--heading-2--typography--line-height: 1.2em;
	--wp--custom--heading-3--typography--font-size: clamp(1.25rem, 0.3125rem + 3vw, 2rem); // 20 => 32
	--wp--custom--heading-3--typography--line-height: 1.2em;
	--wp--custom--heading-4--typography--font-size: clamp(1.125rem, 0.5rem + 2vw, 1.625rem); // 18 => 26
	--wp--custom--heading-4--typography--line-height: 1.2em;
	--wp--custom--heading-5--typography--font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem); // 16 => 18
	--wp--custom--heading-5--typography--line-height: 1.2em;
	--wp--custom--heading-6--typography--font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem); // 14 => 16
	--wp--custom--heading-6--typography--line-height: 1.2em;

	// Font Sizes
	--wp--preset--font-size--small: 0.875rem;
	--wp--preset--font-size--medium: 1rem;
	--wp--preset--font-size--large: 1.125rem;
	--wp--preset--font-size--x-large: 1.375rem;
	--wp--preset--font-size--xx-large: 2.125rem;

	// Spacing
	--wp--preset--spacing--20: 16px;
  --wp--preset--spacing--30: 32px;
  --wp--preset--spacing--40: 48px;
  --wp--preset--spacing--50: 64px;
  --wp--preset--spacing--60: 80px;
  --wp--preset--spacing--70: 96px;
  --wp--preset--spacing--80: 146px;

	// Line heights
	.has-small-font-size,
	.has-medium-font-size,
	.has-large-font-size,
	.has-x-large-font-size,
	.has-xx-large-font-size {
		line-height: 1.2em;
	}
}