@import url("https://use.typekit.net/hgr6bqm.css");

// h1, h2, h3, h4, h5, h6 {}
// h1 {
// 	&:not(.has-arimo-font-family) {
// 		text-indent: -12px;
// 	}
// }

sup, sub {
	line-height: 1em;
	font-size: 0.9375rem;
}

.has-acumin-variable-font-family {
  font-variation-settings: "wght" 700, "wdth" 61, "slnt" 0;
  letter-spacing: 0.05em;
}

.has-xx-large-font-size {
	line-height: var(--wp--custom--xx-large--typography--line-height);
}
.has-x-large-font-size {
	line-height: var(--wp--custom--x-large--typography--line-height);
}
.has-large-font-size {
	line-height: var(--wp--custom--large--typography--line-height);
}
.has-small-font-size {
	line-height: var(--wp--custom--small--typography--line-height);
}

// @for $i from 1 through 6 {
// 	h#{$i} {
// 		&.has-x-large-font-size {
// 			font-size: calc(var(--wp--custom--font-size--heading-#{$i}) * 1.3) !important;
// 		}
// 		&.has-large-font-size {
// 			font-size: calc(var(--wp--custom--font-size--heading-#{$i}) * 1.15) !important;
// 		}
// 		&.has-medium-font-size {
// 			font-size: var(--wp--custom--font-size--heading-#{$i}) !important;
// 		}
// 		&.has-small-font-size {
// 			font-size: calc(var(--wp--custom--font-size--heading-#{$i}) * 0.85) !important;
// 		}	
// 	}
// }
