@import url("https://use.typekit.net/hgr6bqm.css");

// h1, h2, h3, h4, h5, h6 {}
// h1 {
// 	&:not(.has-arimo-font-family) {
// 		text-indent: -12px;
// 	}
// }

sup, sub {
	line-height: 1em;
	font-size: 0.9375rem;
}

.has-acumin-variable-font-family {
  font-variation-settings: "wght" 700, "wdth" 61, "slnt" 0;
  letter-spacing: 0.05em;
}

.has-xx-large-font-size {
	line-height: var(--wp--custom--xx-large--typography--line-height);
}
.has-x-large-font-size {
	line-height: var(--wp--custom--x-large--typography--line-height);
}
.has-large-font-size {
	line-height: var(--wp--custom--large--typography--line-height);
}
.has-small-font-size {
	line-height: var(--wp--custom--small--typography--line-height);
}

strong {
	font-variation-settings: "wght" 600, "wdth" 100, "slnt" 0;
}

// @for $i from 1 through 6 {
// 	h#{$i} {
// 		&.has-x-large-font-size {
// 			font-size: calc(var(--wp--custom--font-size--heading-#{$i}) * 1.3) !important;
// 		}
// 		&.has-large-font-size {
// 			font-size: calc(var(--wp--custom--font-size--heading-#{$i}) * 1.15) !important;
// 		}
// 		&.has-medium-font-size {
// 			font-size: var(--wp--custom--font-size--heading-#{$i}) !important;
// 		}
// 		&.has-small-font-size {
// 			font-size: calc(var(--wp--custom--font-size--heading-#{$i}) * 0.85) !important;
// 		}	
// 	}
// }

.frm_forms {
	&.with_frm_style {
		form {
			transition: opacity 0.2s;
			&.frm_loading_form {
				opacity: 0.5;
				pointer-events: none;
			}
		}
		fieldset {
			border: 0 none;
			padding: 0;
			.frm_fields_container {
				gap: 12px;
			}
		}
		.frm_required {
			display: none;
		}
		.frm_form_field {
			position: relative;
			margin: 0;
			&:not(:has(> .frm_submit)):not(.vertical_radio):not(:has(.frm-cf-turnstile)) {
				background: #fff;
				border: 2px solid #D0DFD9;
				border-radius: 15px;
				padding: 8px 12px;
				min-height: 60px;
				transition: border-color 0.2s;
				&:has(:focus) {
					border-color: var(--wp--preset--color--mg-emerald) !important;
				}
			}
			&.frm_none_container {
				&:not(:has(> .frm_submit)):not(.vertical_radio):not(:has(.frm-cf-turnstile)) {
					min-height: 54px;
					input:not([type="checkbox"]):not([type="radio"]), textarea {
						padding-left: 16px;
						min-height: 34px !important;
					}
				}
			}
			label {
				display: block;
				color: var(--wp--preset--color--mg-emerald);
				line-height: var(--wp--custom--small--typography--line-height);
				font-size: var(--wp--preset--font-size--small);
				padding: 0 0 2px;
			}
			input, textarea {
				font-family: var(--wp--preset--font-family--acumin-variable);
				font-size: 1.125rem !important;
				font-weight: 400;
				line-height: var(--wp--custom--medium--typography--line-height) !important;
				padding: 0;
				min-height: 0;
				border-radius: 0 !important;
				&::placeholder {
					font-family: var(--wp--preset--font-family--acumin-variable);
					font-size: 1.125rem !important;
					font-weight: 400;
					line-height: var(--wp--custom--medium--typography--line-height) !important;
					color: rgba(#203727, 90%);
				}
				&:focus-visible {
					outline: none;
				}
				&:focus {
					box-shadow: none !important;
				}
			}
			select {
				width: 100%;
				border: 0 none;
				font-family: var(--wp--preset--font-family--acumin-variable);
				font-size: var(--wp--preset--font-size--medium);
				line-height: var(--wp--custom--medium--typography--line-height);
				&:focus-visible {
					outline: none;
				}
				.frm-select-placeholder,
				&::placeholder {
					color: var(--wp--preset--color--mg-grey-dark);
				}
			}
			input[type="text"],
			input[type="email"] {
				width: 100%;
				border: 0 none;
				&::placeholder {
					color: var(--wp--preset--color--mg-grey-dark);
				}
			}
			textarea {
				width: 100%;
				min-height: 152px;
				border: 0 none;
				resize: none;
				&::placeholder {
					color: var(--wp--preset--color--mg-grey-dark);
				}
			}
			.frm_checkbox {
				label {
					color: #203727;
					font-size: 1.125rem;
				}
			}
			button {
				&.frm_button_submit {
					box-shadow: none;
					background-color: var(--wp--preset--color--mg-gold);
					border-radius: 999px;
					color: #fff;
					font-family: var(--wp--preset--font-family--acumin-variable) !important;
					font-size: var(--wp--preset--font-size--large) !important;
					line-height: var(--wp--custom--large--typography--line-height);
					padding: 12px 20px;
					border: 0 none;
					transition: color 0.2s, background-color 0.2s;
					font-variation-settings: "wght" 600, "wdth" 100, "slnt" 0;
					// letter-spacing: 0.1em;
					// text-transform: uppercase;
					// font-variation-settings: "wght" 700, "wdth" 61, "slnt" 0;
					// letter-spacing: 0.01em;
					cursor: pointer;
					@media(hover: hover) {
						&:hover {
							color: #fff;
							background-color: var(--wp--preset--color--mg-gold-dark);
						}
					}
				}
			}
			&.download-button {
				button {
					&.frm_button_submit {
						display: flex;
						align-items: center;
						gap: 0.5rem;
						&::after {
							content: '';
							width: 24px;
							height: 24px;
							background-color: var(--wp--preset--color--brand-tertiary-80);
							clip-path: path("M19,21c0,.552734-.447266,1-1,1H6c-.552246,0-1-.447266-1-1s.447754-1,1-1h12c.552734,0,1,.447266,1,1ZM11.292297,17.70636c.092346.092529.203064.165771.325684.216553.122192.050537.251831.077087.382019.077087s.259827-.02655.382019-.077087c.12262-.050781.233337-.124023.325684-.216553l4.999329-4.999329c.390625-.390625.390625-1.023438,0-1.414062s-1.023438-.390625-1.414062,0l-3.292969,3.292969V3c0-.552246-.447754-1-1-1s-1,.447754-1,1v11.585938l-3.292969-3.292969c-.390625-.390625-1.023438-.390625-1.414062,0s-.390625,1.023438,0,1.414062l4.999329,4.999329Z");
							display: block;
							transition: background-color 0.2s;
						}
						@media( hover: hover ) {
							&:hover {
								&::after {
									background-color: #fff;
								}
							}
						}
					}
				}
			}
			.frm_error {
				line-height: var(--wp--custom--small--typography--line-height);
				font-size: var(--wp--preset--font-size--small);
				padding: 5px 10px;
				position: absolute;
				top: 3px;
				left: 2px;
				background: #fff;
				color: var(--wp--preset--color--status-error-red);
				display: block;
				z-index: 99;
			}
		}
	}
	form#form_newsletter-signup {
		@media (min-width: 992px) {
			.frm_form_fields .frm_fields_container {
				grid-template-columns: repeat(12, 1fr) auto;
				gap: 24px;
			}
			.field_name,
			.field_email {
				grid-column: span 6;
			}
			.field_submit {
				grid-area: 1 / 13 / 2 / 14;
				align-self: center;
				button {
					margin: 0;
				}
			}
		}
	}
}