
table.wc-block-cart-items {
	--wp--preset--font-size--small: 1.125rem;
	.wc-block-cart-items__header {
		th {
			font-size: var(--wp--preset--font-size--large) !important;
			font-family: var(--wp--preset--font-family--acumin-variable) !important;
			font-variation-settings: "wght" 700, "wdth" 61, "slnt" 0;
			letter-spacing: .05em;
			line-height: var(--wp--custom--large--typography--line-height);
			margin-top: 0px;
			text-transform: uppercase;
			padding-top: 0px !important;
			padding-bottom: 20px;
		}
	}
}

.woocommerce-page .input-text {
	background: #fff;
	border: 2px solid #D0DFD9;
	border-radius: 15px;
	padding: 8px 12px;
	min-height: 60px;
	transition: border-color 0.2s;
	font-size: 1.125rem;
}

.wc-block-components-quantity-selector {
	border: 2px solid #D0DFD9;
	border-radius: 15px;
	input.wc-block-components-quantity-selector__input {
		min-height: 62px;
	}
}

.wc-block-components-form {
	.wc-block-components-text-input {
		input[type="text"],
		input[type="email"], 
		input[type="number"],
		input[type="password"],
		input[type="tel"],
		input[type="text"],
		input[type="url"] {
			border: 2px solid #D0DFD9;
			border-radius: 15px;
			min-height: 62px;
			padding: 16px 15px 0 !important;
			transition: all 0.2s;
			&:focus {
				border: 2px solid var(--wp--preset--color--mg-gold);
			}
			&:focus-visible {
				outline: 0 none !important; // 
			}
		}
		label {
			top: 30px;
			left: 15px;
		}
	}
}

.wc-blocks-components-select {
	.wc-blocks-components-select__select {
		border: 2px solid #D0DFD9;
		border-radius: 15px;
		min-height: 62px;
		padding: 16px 15px 0 !important;
		transition: all 0.2s;
		&:focus {
			border: 2px solid var(--wp--preset--color--mg-gold);
		}
		&:focus-visible {
			outline: 0 none !important; // 
		}
	}
	.wc-blocks-components-select__label {
		left: 15px;
	}
}

.wc-block-components-button:not(.is-link) {
	color: #fff;
	@media (hover: hover) {
		&:hover {
			color: #fff;
			background-color: var(--wp--preset--color--mg-gold-dark);
		}
	}
}
.wc-block-cart__submit-button {
	width: auto;
}
.wp-block-woocommerce-cart-items-block {
	.wc-block-components-product-name {
		font-family: var(--wp--preset--font-family--acumin-variable) !important;
		text-decoration: none;
		font-size: var(--wp--preset--font-size--large) !important;
		font-variation-settings: "wght" 700, "wdth" 61, "slnt" 0;
		letter-spacing: .05em;
		line-height: var(--wp--custom--large--typography--line-height);
		margin-top: 0;
		text-transform: uppercase;
		padding-top: 0 !important;
		transition: color 0.2s;
		@media (hover: hover) {
			&:hover {
				color: var(--wp--preset--color--mg-gold-dark);
			}
		}
	}
	.wc-block-components-product-metadata {
		display: none;
	}

}

.wp-block-woocommerce-product-details {
	&.is-style-minimal {
		ul.tabs.wc-tabs {
			display: none;
		}
	}
}

.wc-block-components-product-price .woocommerce-Price-amount {
  font-variation-settings: 'wght' 500, 'wdth' 60, 'slnt' 0;
  font-size: 2rem;
  letter-spacing: 0.025em;
}

.woocommerce-account .wp-block-post-title, .woocommerce-account main .woocommerce, .woocommerce-cart .wp-block-post-title, .woocommerce-cart main .woocommerce, .woocommerce-checkout .wp-block-post-title, .woocommerce-checkout main .woocommerce {
	max-width: 100%;
}

.wc-block-components-notice-banner>.wc-block-components-notice-banner__content .wc-forward {
	font-size: 1rem;
	text-decoration: none;
}

// Stripe
.p-CardNumberInput .p-CardIcons
.p-CardCvcIcons.Input .c-InputPadding,
.p-CardNumberInput .p-CardIcons {
	padding-top: 0 !important;
}

.wc-block-components-product-name {
	font-family: var(--wp--preset--font-family--acumin-variable) !important;
	font-size: var(--wp--preset--font-size--large) !important;
  font-variation-settings: "wght" 700, "wdth" 61, "slnt" 0;
  letter-spacing: .05em;
  line-height: var(--wp--custom--large--typography--line-height);
  text-transform: uppercase;
}

.wp-block-woocommerce-checkout-order-summary-block .wc-block-components-checkout-order-summary__title .wc-block-components-checkout-order-summary__title-text,
.wc-block-components-totals-item__label,
.wc-block-components-formatted-money-amount,
.wc-block-components-totals-footer-item .wc-block-components-totals-item__label, 
.wc-block-components-totals-footer-item .wc-block-components-totals-item__value {
	font-variation-settings: "wght" 600, "wdth" 61, "slnt" 0;
	font-size: 1.375rem;
	line-height: 1.2em;
}

.wc-block-components-order-summary .wc-block-components-order-summary-item__description p {
	display: none;
}

.wc-block-components-title.wc-block-components-title {
	font-size: 1.5rem;;
}

.wp-block-woocommerce-order-confirmation-status {
	& > h1 {
		font-size: var(--wp--custom--heading-2--typography--font-size);
	}
}

.woocommerce-order-received .order-again {
	display: none;
}

.wc-block-order-confirmation-summary ul li>.wc-block-order-confirmation-summary-list-item__key {
  font-variation-settings: "wght" 600, "wdth" 61, "slnt" 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.025em;
}