
table.wc-block-cart-items {
	.wc-block-cart-items__header {
		th {
			font-size: var(--wp--preset--font-size--large) !important;
			font-family: var(--wp--preset--font-family--acumin-variable) !important;
			font-variation-settings: "wght" 700, "wdth" 61, "slnt" 0;
			letter-spacing: .05em;
			line-height: var(--wp--custom--large--typography--line-height);
			margin-top: 0px;
			text-transform: uppercase;
			padding-top: 0px !important;
			padding-bottom: 20px;
		}
	}
}