@mixin mgcat-button {
	background-color: var(--mgcat-primary, #000);
	color: #fff;
	border: 2px solid var(--mgcat-primary, #000);
	cursor: pointer;
	font-size: 1.5rem;
	transition: color 0.3s ease-in-out;
	min-width: 115px;
	text-align: center;
	padding: 10px 20px;
	border-radius: 60px;
	&:focus {
		outline: none;
	}
}

@mixin mgcat-answer-button {
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	min-height: 118px;
	display: flex;
	align-items: center;
	justify-content: stretch;
	background: #fff;
	font-size: var(--wp--preset--font-size--x-large);
	font-family: var(--wp--preset--font-family--arimo);
	border: 1px solid var(--wp--preset--color--mg-green);
	color: var(--wp--preset--color--mg-green-dark);
	box-shadow: var(--drop-shadow);
	font-weight: 300;
	&.selected {
		border-radius: 0.5rem;
		border: 1px solid var(--wp--preset--color--mg-green-dark);
		background: var(--wp--preset--color--mg-grey);
		// box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
	}
	p:not([class*="has-text-align-"]) {
		text-align: center;
	}
}

@mixin mgcat-first-last-margin {
	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

:root {
	--drop-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
	--h1-size: 62px;
	--h2-size: 42px;
	--h3-size: 32px;
	--h4-size: 26px;
	--h5-size: 18px;
	--h6-size: 16px;
	--p-quote: 32px;
	--radius-small: 8px;
	--p-small-size: 14px;
	--p-medium-size: 16px;
	--p-large-size: 18px;
	--p-x-large-size: 22px;
	--p-xx-large: 26px;
	--spacing-20: 16px;
	--spacing-30: 32px;
	--spacing-40: 48px;
	--spacing-50: 64px;
	--spacing-60: 80px;
	--spacing-70: 96px;
	--spacing-80: 146px;
	--content-size: 1000px;
	--wide-size: 1340px;
	--color-one: #ffffff;
	--color-two: #324431;   // --wp--preset--color--mg-green-dark
	--color-three: #758062; // --wp--preset--color--mg-green
	--color-four: #e3ebe8;  // --wp--preset--color--mg-grey
	--color-five: #c1ab91;  // --wp--preset--color--mg-beige
	--color-six: #b0bbae;   // --wp--preset--color--mg-green-light
	--color-seven: #c98740; // --wp--preset--color--mg-gold
	--color-eight: #203727; // --wp--preset--color--mg-emerald

	@media (max-width: 781px) {
		--h1-size: 34.400001525878906px;
		--h2-size: 28px;
		--h3-size: 20px;
		--h4-size: 18px;
		--h5-size: 16px;
		--h6-size: 14px;
		--p-quote: 20px;
		--radius-small: 8px;
		--p-small-size: 14px;
		--p-medium-size: 16px;
		--p-large-size: 18px;
		--p-x-large-size: 18px;
		--p-xx-large: 20px;
		--spacing-20: 10px;
		--spacing-30: 20px;
		--spacing-40: 30px;
		--spacing-50: 40px;
		--spacing-60: 50px;
		--spacing-70: 60px;
		--spacing-80: 90px;
	}
}

.wp-block-mgcat-training-slides {
	&:not(.block-editor-block-list__block) {
		input[type="text"] {
			height: 47px;
			padding: 0 25px;
			border-radius: 40px;
			border: 1px solid;
			font-size: 1.5rem;
		}
		button {
			@include mgcat-button;
		}
		.form {
			display: flex;
			align-items: center;
			gap: 1rem;
			justify-content: center;
		}
		// overflow-x: hidden;
		.slides-container {
			// height: auto;
			transition: height 0.3s ease-in-out;
			display: flex;
			align-items: start;

			// height: 400px;
			@for $i from 1 through 200 {
				&.slide-items-#{$i} {
					width: calc( $i * 100% );
				}
			}
			@for $i from 1 through 200 {
				&[data-index="#{$i}"] {
					& > * {
						transform: translate( calc( $i * -100% ), 0 );
					}
				}
			}
			& > * {
				width: 100%;
				transition: all 0.3s ease-in-out;
				opacity: 0;
				padding: 1rem;
				// // pointer-events: none;
				// display: none;
				// transition: opacity 0.3s ease-in-out;
				&.active {
					opacity: 1;
					// display: block;
					// pointer-events: auto;
				}
			}
		}
		.slide-content {
			& > * {
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}	
			}
		}
		.controls {
			display: flex;
			justify-content: space-between;
			padding: 1rem;
			button {
				&.prev,
				&.next {
					&:disabled {
						opacity: 0;
						cursor: not-allowed;
					}
				}
				&.finish {
					background-color: var(--mgcat-primary, #000);
					color: #fff;
					&.disabled {
						opacity: 0.5;
						cursor: not-allowed;
					}
				}
				&:focus {
					outline: none;
				}
			}
		}
		.navigation {
			display: flex;
			justify-content: center;
			gap: 1rem;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(255, 255, 255, 0.9);
			backdrop-filter: blur(3px);
			padding: 40px 20px;
			box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
			z-index: 999;
			.nav-button {
				--mgcat-primary: #cdc9c6;
				--mgcat-primary-half: #cdc9c6; // 80;
				background-color: #fff;
				border: 2px solid var(--mgcat-primary);
				width: 20px;
				height: 20px;
				border-radius: 50%;
				display: block;
				transition: all 0.2s;
				cursor: pointer;
				font-size: 0;
				&:hover {
					background-color: var(--mgcat-primary);
				}
				&.active {
					background-color: var(--mgcat-primary-half);
				}
				&.complete {
					background-color: var(--mgcat-primary);
				}
				&.question {
					--mgcat-primary: #86ad76;
					--mgcat-primary-half: #86ad76; // 80;
				}
			}
		}
		.wp-block-mgcat-answers {
			display: none;
		}
		.wp-block-mgcat-answers-react {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
			.wp-block-mgcat-answer-outer {
				border: 1px solid;
				border-radius: 4px;
				padding: 1rem;
				background: rgba(255, 255, 0, 0.1);
				&.active {
					background: rgba(255, 255, 0, 0.4);
				}
				.answer-content {
					pointer-events: none;
				}
			}
			.wp-block-mgcat-answer {
				& > *,
				.block-editor-block-list__layout > * {
					&:first-child {
						margin-top: 0;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.warning,
		.quiz-complete,
		.training-complete {
			max-width: 700px;
			height: auto !important;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}
}

.chapter-questions {
	width: 100vw;
	height: 80vh; // 100dvh
	overflow-x: hidden;
	display: grid;
	grid-template-rows: 1fr auto;
	border: 2px dashed #b0e0e6; // temp
	// background: rgba(255, 0, 0, 0.1);
}
.wp-block-mgcat-questions {
	display: grid;
	width: 100vw;
	gap: 0;
	transition: all 0.2s;
	@for $i from 1 through 10 {
		&[data-size="#{$i}"] {
			width: calc($i * 100vw);
			grid-template-columns: repeat($i, 1fr);
		}
	}
	@for $i from 0 through 9 {
		&[data-current="#{$i}"] {
			transform: translate(calc($i * -100vw), 0);
		}
	}
	.wp-block-mgcat-question {
		&:not(.block-editor-block-list__block) {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			.question-content {
				@include mgcat-first-last-margin;
			}
			& > * {
				max-width: 900px;
				padding: 2rem;
				margin: 0 auto;
			}
		}
		&.block-editor-block-list__block {
			border: 2px dashed #b0e0e6;
			max-width: 900px;
			padding: 2rem;
			margin: 0 auto;
		}
	}
}
.wp-block-mgcat-question-navigation {
	// grid-area: 2 / 1 / 3 / 2;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	background: #E4EBE8;
	width: 100vw;
	padding: var(--wp--preset--spacing--30);
	button {
		&.question-marker-dot {
			border: 0 none;
			background: #B0BBAE;
			width: 12px;
			height: 12px;
			border-radius: 24px;
			&.answered { 
				background: #C98740;
			}
		}
		&:not(.question-marker-dot) {
			border: 0 none;
			padding: 14px 20px;
			border-radius: 100px;
			background-color: var(--wp--preset--color--mg-gold);
			font-size: 1.25rem;
			color: #fff;
			font-weight: 600;
			margin: 0 44px;
			&[disabled] {
				background-color: rgba(#BF8A4D, 0.5);
				color: rgba(#FFFFFF, 0.5);
			}
		}
	}
}
.wp-block-mgcat-answers {
	&:not(.block-editor-block-list__block) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
		max-width: 900px;
		margin: 0 auto;
		button {
			@include mgcat-answer-button;
			.wp-block-mgcat-answer {
				display: block;
				width: 100%;
				& > * {
					&:first-child {
						margin-top: 0;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	&.block-editor-block-list__block {
		& > .block-editor-inner-blocks > .block-editor-block-list__layout {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 1rem;
			max-width: 900px;
			margin: 0 auto;
			.wp-block-mgcat-answer {
				& > .block-editor-inner-blocks > .block-editor-block-list__layout {
					@include mgcat-answer-button;
					& > * {
						display: block;
						width: 100%;
						&:first-child {
							margin-top: 0;
						}
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

