.wp-block-image {
	&.is-style-tilt-left {
		transform: rotate(-1deg);
	}
	&.is-style-tilt-right {
		transform: rotate(1deg);
	}
	&.is-style-tilt-left,
	&.is-style-tilt-right {
		img {
			box-shadow: -2px 4px 14px 0 rgba(0, 0, 0, 0.25);
		}
	}

	&:has(> a[href*="vimeo.com"]),
	&:has(> a[href*="youtube.com"]) {
		position: relative;
		&::before {
			content: "";
			width: 64px;
			height: 64px;
			background: #fff;
			position: absolute;
			inset: 50% 50%;
			transform: translate(-50%, -50%);
			clip-path: path("M31.7,0C14.2,0,0,13.9,0,31.1s14.2,31.1,31.7,31.1,31.7-13.9,31.7-31.1S49.2,0,31.7,0ZM51.8,50.8c-2.6,2.6-5.7,4.6-9,6-3.5,1.5-7.2,2.2-11.1,2.2s-7.6-.7-11.1-2.2c-3.4-1.4-6.4-3.4-9-6-2.6-2.6-4.7-5.5-6.1-8.9-1.5-3.4-2.2-7.1-2.2-10.9s.8-7.4,2.2-10.9c1.4-3.3,3.5-6.3,6.1-8.9,2.6-2.6,5.7-4.6,9-6,3.5-1.5,7.2-2.2,11.1-2.2s7.6.7,11.1,2.2c3.4,1.4,6.4,3.4,9,6,2.6,2.6,4.7,5.5,6.1,8.9,1.5,3.4,2.2,7.1,2.2,10.9s-.8,7.4-2.2,10.9c-1.4,3.3-3.5,6.3-6.1,8.9ZM44.2,27.3l-15.3-10.6c-.9-.6-1.8-.9-2.7-.9-2.5,0-4.7,1.9-4.7,4.6v21.2c0,2.7,2.3,4.6,4.7,4.6s1.9-.3,2.7-.9l15.3-10.6c2.7-1.8,2.7-5.7,0-7.6ZM42.4,32.3l-15.3,10.6c-.3.2-.5.3-.8.3-.6,0-1.5-.5-1.5-1.5v-21.2c0-1,.9-1.5,1.5-1.5h0c.3,0,.6,0,.8.3l15.3,10.6c.5.4.6.9.6,1.2s0,.8-.6,1.2Z");
			transition: all 0.4s;
			z-index: 10;
			pointer-events: none;
		}
		img {
			transition: all 0.4s;
		}
		@media( hover: hover ) {
			& > a {
				&:hover {
					img {
						filter: brightness(0.85);
					}
				}
			}
		}
	}
}

.wp-block-embed,
.wp-block-image {
	:where(figcaption) {
		margin-top: 4px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 1.2em;
	}
}