.wp-block-image {
	&.is-style-tilt-left {
		transform: rotate(-1deg);
	}
	&.is-style-tilt-right {
		transform: rotate(1deg);
	}
	&.is-style-tilt-left,
	&.is-style-tilt-right {
		img {
			box-shadow: -2px 4px 14px 0 rgba(0, 0, 0, 0.25);
		}
	}
	:where(figcaption) {
		margin-top: 4px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 1.2em;
	}
}