.wp-block-group {
	&.mailing-list {
		position: relative;
		z-index: 10;
		&::after {
			display: none !important;
		}
		& + .wp-block-separator.is-style-tear {
			margin-top: -114px !important;
			& + footer {
				position: relative;
				z-index: 1;
			}
		}
	}
	&.page-header {
		display: flex;
		& > .wp-block-group {
			flex-basis: 100%;
			padding-bottom: 1.5rem;
		}
	}
}