.wp-block-loginout {
	& > a {
		background-color: var(--mgcat-primary, #000);
    color: #fff;
    border: 2px solid var(--mgcat-primary, #000);
    cursor: pointer;
    font-size: 1.5rem;
    transition: color .3s ease-in-out;
    min-width: 115px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 60px;
		text-decoration: none;
		display: inline-block;
	}
}