.wp-block-query {	
	.wp-block-post-template {
		.wp-block-post {
			&.post {
				.wp-block-post-featured-image {
					overflow: hidden;
					img {
						transition: all 0.2s;
					}
				}
				@media(hover: hover) {
					&:hover {
						.wp-block-post-featured-image {
							img {
								transform: scale(1.1);
							}
						}
					}
				}
			}
		}
	}
}