.wp-block-template-part {
// 	// &::before {
// 	// 	content: "";
// 	// 	height: 29px;
// 	// 	background: url(./images/border-top.jpg) 50% 50%/auto 29px repeat-x;
// 	// 	position: absolute;
// 	// 	top: 0;
// 	// 	left: 0;
// 	// 	right: 0;
// 	// }
// 	padding-top: 29px;
// 	position: relative;
// 	height: 176px;
	&:is(header) {
		.hide-for-search {
			opacity: 1;
			pointer-events: all;
			transition: opacity 0.2s;
		}
		&:has(.search-results) {
			.hide-for-search {
				opacity: 0;
				pointer-events: none;
			}
			// @media (min-width: 992px) { 
			// 	.wp-block-navigation {
			// 		.wp-block-navigation__responsive-container-content {
			// 			opacity: 0;
			// 			pointer-events: none;
			// 		}
			// 	}
			// }
			// @media (width < 992px) { 
			// 	.wp-block-site-logo {
			// 		opacity: 0;
			// 		pointer-events: none;
			// 	}
			// }
		}
		.header-navigation-buttons {
			// align-self: stretch;
			// min-height: 100%;
			margin-right: 20px;
			gap: 1rem;
			padding-top: 20px;
		}
		.wp-block-buttons {
			.wp-block-button {
				.wp-block-button__link {
					padding: 10px 20px;
					letter-spacing: 0.1em;
				}
			}
		}
	}
	&:is(footer) {
		h4 {
			line-height: 1.1em;
		}
		p {
			font-size: 1.125rem;
			line-height: 1.2em;
		}
		.copyright {
			background: url(./images/dots-white.svg) 0 0/4px 2px repeat-x;
			padding: 1.25rem 0;
			position: relative;
			p {
				font-size: 0.9375rem;
			}
		}
	}
}

// footer.wp-block-template-part {
// 	margin-block-start: 0;
// 	& > .wp-block-group {
// 	}
// }
