
.wp-block-separator {
	&.is-style-tear {
		margin: -54px 0 0 !important;
		height: 0;
		border: 0 none !important;
	}
	&.is-style-dots {
		&:before {
			content: "";
			// color: rgb(94 116 85 / 95%);
			background: url(./images/dots.svg) 50% 50%/4px 2px repeat-x;
			width: 100%;
			height: 4px;
			display: block;
			font-size: 0;
			padding-left: 0;
		}
	}
}

*:has(+ .wp-block-separator.is-style-tear) {
	&::after {
		content: "";
		height: 54px;
		display: block;
	}
}
.wp-block-separator.is-style-tear + * {
	&::before {
		content: "";
		height: 54px;
		display: block;
	}
	mask: url(./images/mask-brush-top-sh__2x.png) 0 0/1440px 43px repeat-x, url(./images/square-white.png) 0 43px/100% calc(100% - 43px) no-repeat;
}